<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Europe</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>France</string>
				<key>img</key>
				<string>France.png</string>
				<key>intro</key>
				<string>Paris</string>
			</dict>
			<dict>
				<key>name</key>
				<string>German</string>
				<key>img</key>
				<string>German.png</string>
				<key>intro</key>
				<string>Berlin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Russia</string>
				<key>img</key>
				<string>Russia.png</string>
				<key>intro</key>
				<string>Moscow</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Spain</string>
				<key>img</key>
				<string>Spain.png</string>
				<key>intro</key>
				<string>Madrid</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>America</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>Brazil</string>
				<key>img</key>
				<string>Brazil.png</string>
				<key>intro</key>
				<string>Rio</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Mexico</string>
				<key>img</key>
				<string>Mexico.png</string>
				<key>intro</key>
				<string>Mexico City</string>
			</dict>
			<dict>
				<key>name</key>
				<string>United States</string>
				<key>img</key>
				<string>UnitedStates.png</string>
				<key>intro</key>
				<string>Newyork</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Asia</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>Indonesia</string>
				<key>img</key>
				<string>Indonesia.png</string>
				<key>intro</key>
				<string>Jakarta</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Japan</string>
				<key>img</key>
				<string>Japan.png</string>
				<key>intro</key>
				<string>Tokyo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Singapore</string>
				<key>img</key>
				<string>Singapore.png</string>
				<key>intro</key>
				<string>Singapore</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Vietnam</string>
				<key>img</key>
				<string>Vietnam.png</string>
				<key>intro</key>
				<string>Hanoi</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
